@charset "UTF-8";
/* VĂĄltozĂłk */
/* EgyĂŠb */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700");
.box {
  margin-bottom: 10%; }

.row--height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (min-width: 992px) and (max-width: 1199px) {
  .row--last-col {
    left: 25%; } }

body {
  background-color: #E4E4E4;
  font-family: 'Open Sans';
  margin-left: 15%;
  margin-right: 15%; }

h1 {
  margin-bottom: 41px;
  margin-top: 39px;
  line-height: 32px;
  font-weight: 100;
  font-size: 32px; }

h2 {
  line-height: 32px;
  font-size: 16px;
  font-weight: 700; }

img {
  width: 100%; }

.box__1__form {
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  display: table;
  margin: auto; }

.box__1 .box__banner, .box__2 .box__banner {
  overflow: hidden; }

.box__1 img, .box__2 img {
  border-radius: 2px;
  margin-top: -25px;
  margin-bottom: -25px; }

.box__2 .box__banner {
  position: relative;
  overflow: hidden; }
  .box__2 .box__banner img {
    -webkit-filter: sepia(1);
    filter: sepia(1); }

.box__2 .box__body {
  line-height: 18px;
  font-size: 14px;
  margin-left: 35px;
  margin-right: 35px; }

.box__3 .box__content {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FACD10), to(#55A738));
  background-image: -webkit-linear-gradient(bottom left, #FACD10, #55A738);
  background-image: -o-linear-gradient(bottom left, #FACD10, #55A738);
  background-image: linear-gradient(to top right, #FACD10, #55A738); }

.box__3 .box__banner {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 85%);
  z-index: 1;
  position: relative; }

.box__content {
  border-radius: 5px;
  min-height: 550px;
  padding-bottom: 50px;
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.enhancement {
  position: absolute;
  margin-top: 20px;
  margin-left: -10px;
  z-index: 9999;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px; }
  .enhancement--blue {
    color: #ffffff;
    background-color: #0089CF;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 137, 207, 0.5);
    box-shadow: 0px 10px 20px rgba(0, 137, 207, 0.5); }
  .enhancement--yellow {
    color: #000;
    background-color: #FACD10;
    -webkit-box-shadow: 0px 10px 20px rgba(250, 205, 16, 0.5);
    box-shadow: 0px 10px 20px rgba(250, 205, 16, 0.5); }

.quote {
  padding-left: 5px;
  border-left: 7px solid #FACD10;
  margin: 25px 30px 40px 30px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400; }

.no-padding {
  padding: 0; }

.button {
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  width: 152px; }
  .button--yellow {
    background-color: #FACD10;
    -webkit-box-shadow: 0px 2px 0px #C8A40F;
    box-shadow: 0px 2px 0px #C8A40F; }

input {
  border-radius: 2px;
  border: 2px solid #cbcbcb;
  height: 40px;
  width: 100%; }

label {
  display: block;
  width: 100px; }

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.inputs--label {
  font-size: 12px; }

.inputs__input1 {
  margin-right: 10px; }

.inputs__input2 {
  margin-left: 10px; }

.close {
  height: 40px;
  margin-top: -20px;
  border-radius: 50%;
  position: absolute;
  width: 40px;
  right: 0;
  background-color: #ffffff;
  color: #55A738;
  z-index: 2;
  border: 2px solid #55A738;
  -webkit-box-shadow: 0px 10px 20px #55A738;
  box-shadow: 0px 10px 20px #55A738;
  line-height: 35px;
  text-align: center;
  font-size: 30px; }
  .close:after {
    content: "\00d7"; }

/* Radio button */
.radio_btns {
  margin-top: 75px; }

.radio-btn--1 {
  float: left; }

.radio-btn--2, .radio-btn--3 {
  float: left;
  margin-left: 16px; }

.radio-btn + .label {
  height: 30px;
  border: 2px solid #cbcbcb;
  border-radius: 15px; }

.radio-btn:checked + .label {
  border-color: #0089CF;
  background-color: #0089CF;
  color: #ffffff; }
  .radio-btn:checked + .label::before {
    border: 4px solid #ffffff;
    background: #0089CF; }

.radio-btn:hover:not(:checked) + .label {
  background-color: #ffffff;
  border-color: #0089CF;
  color: #0089CF; }
  .radio-btn:hover:not(:checked) + .label::before {
    margin-left: 12px;
    height: 11px;
    width: 11px;
    border: 2px solid #ffffff;
    background: #cbcbcb;
    -webkit-box-shadow: 0px 0px 0px 2px #0089CF;
    box-shadow: 0px 0px 0px 2px #0089CF; }

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer; }
  .label .text {
    position: absolute;
    margin-left: 30px; }
  .label::before {
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    margin-left: 10px;
    border: 2px solid #cbcbcb;
    border-radius: 50%; }

.radio_title {
  margin-top: 10px;
  font-size: 12px; }

/* Checkbox */
/* Checkbox */
.checkboxes {
  margin-top: 158px; }

.checkbox {
  padding: 30px 0; }

.checkbox-container {
  margin-bottom: 14px;
  padding: 5px 0;
  display: block;
  position: relative;
  padding-left: 28px;
  line-height: 1;
  width: 100%;
  cursor: pointer;
  font-size: 12px; }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-container__checkrealbox {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 2px solid #cbcbcb; }
    .checkbox-container__checkrealbox:after {
      content: "";
      position: absolute;
      display: none; }
  input:hover ~ .checkbox-container__checkrealbox {
    background-color: #ffffff;
    border: 2px solid #0089CF; }
  input:checked ~ .checkbox-container__checkrealbox {
    background-color: #0089CF;
    border: 2px solid #0089CF; }
    input:checked ~ .checkbox-container__checkrealbox:after {
      display: block; }
  input:hover ~ .checkbox-container__checkrealbox:after {
    display: block; }
  input:checked ~ .checkbox-container__checkrealbox:after {
    left: 3px;
    top: 3px;
    width: 11px;
    height: 7px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(135deg) scale(1, -1);
    -ms-transform: rotate(135deg) scale(1, -1);
    transform: rotate(135deg) scale(1, -1); }
  input:not(:checked) ~ .checkbox-container__checkrealbox:after {
    left: 3px;
    top: 3px;
    width: 11px;
    height: 7px;
    border: solid #cbcbcb;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(135deg) scale(1, -1);
    -ms-transform: rotate(135deg) scale(1, -1);
    transform: rotate(135deg) scale(1, -1); }

/* Switch */
.switches__title {
  font-size: 12px; }

.switches__field {
  overflow: hidden; }
  .switches__field input:checked + label {
    font-weight: 700;
    background-color: #0089CF;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff; }
  .switches__field label {
    float: left; }
    .switches__field label:hover {
      cursor: pointer; }

.switches .switch {
  display: inline-block;
  width: 75px;
  height: 40px;
  background-color: #ffffff;
  color: #000;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  border: solid #cbcbcb; }
  .switches .switch__left {
    border-width: 2px 0 2px 2px;
    border-radius: 50px 0 0 50px; }
  .switches .switch__right {
    border-width: 2px 2px 2px 0;
    border-radius: 0 50px 50px 0; }

@media (max-width: 992px) {
  .inputs__input1, .inputs__input2 {
    margin: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  --last-col {
    left: 25%; } }
